body {

  background: aqua;


}

.weather {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}

.countrys {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}

.flag-Country {
  width: 90px;
  height: 45px;
}

